


div.blog-post div.blog-post-date, div.blog-post div.blog-post-title{
    display: inline-flex;
}

div.blog-post div.blog-post-date{
    font-size: 100%;
    color: #757575;
    margin-right: 20px;
    margin-bottom: 20px;
}

div.blog-post div.blog-post-title{
    font-size: 130%;
}

div.blog-post-title a{
    color: #444;
    text-decoration: none;
}

div.blog-post-title a:visited{
    color: #444;
}
div.blog-post-title a:hover{
    color: #999;
}

h3.blogpost-h3{
    font-size: 160%;
    color: #333;
}

div.mainpage-body{
    border-left: 4px #b0b0b0 solid;
    padding-left: 10px;
    margin-bottom: 40px;
}