{% extends "layout.html" %}
{% from "macros/blogpost_short.html" import render_blog_post %}
{% block css %} <link rel="stylesheet" href="{{ '/static/css/mainpage.css'|url }}"> {% endblock %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<h2 class="page-title">{{ this.title }}</h2>
<hr class="yellow-hr">
<br/>
<div class="mainpage-body">
{{ this.body }}
</div>

<hr class="gray-hr">

<div class="blogpost-container"></div>
    <h3 class="blogpost-h3">Recent posts</h3>
    {% for post in site.query('/blog', alt=this.alt).limit(3) %}
    {{ render_blog_post(post, from_index=true) }}

    {% endfor %}
</div>
{% endblock %}
